<div>
    <video id="myvid" class="video-fluid z-depth-1">
        <source />
    </video>
  
    <div class="controls">
        <div class="topControl">
            <div class="progress">
                <span class="bufferBar"></span>
                <span class="timeBar"></span>
            </div>
    
            <div class="time">
                <span class="currentt"></span>
                <span class="duration"></span>
            </div>
        </div>
    
        <div class="controllers">
            <button class="btnPlay" title="Play/Pause video"></button>
            <button class="prevvid disabled" title="Previous video"><i
                class="fa fa-step-forward fa-rotate-180"></i></button>
            <button class="nextvid" title="Next video"><i class="fa fa-step-forward"></i></button>
            <button class="sound sound2 btnn" title="Mute/Unmute sound"></button>
            <div class="volume" title="Set volume">
                <span class="volumeBar"></span>
            </div>
    
            <button class="btnFS " style="float:right" title="full screen"></button>
            <button class="btnspeed " style="float:right" title="Video speed"><i class="fa fa-gear"></i></button>
            <ul class="speedcnt">
                <li class="spdx50">1.5</li>
                <li class="spdx25">1.25</li>
                <li class="spdx1 selected">Normal</li>
                <li class="spdx050">0.5</li>
            </ul>
    
        </div>
    </div>
</div>
